{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  {% if title %}
    <title>Promova Toastmasters - {{ title }}</title>
  {% else %}
    <title>Promova Toastmasters</title>
  {% endif%}
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'promova_main/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'promova_main/vendor/icofont/icofont.min.css' %}"  rel="stylesheet">
  <link href="{% static 'promova_main/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'promova_main/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'promova_main/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'promova_main/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'promova_main/css/style.css' %}" rel="stylesheet">
</head>

<body>

  <!-- ======= Top Bar ======= -->

  <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top ">
     {% include 'promova_main/messages.html' %}
  </div>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">


      <!-- Uncomment below if you prefer to use an image logo -->
       <a href="index.html" class="logo"><img src="{% static 'promova_main/img/logotm.png' %}" alt="" class="img-fluid"></a>
      <h1 class="logo mr-auto"><a href="{% url 'home' %}">ПРОМОВА</a></h1>
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="#about">О нас</a></li>
          <li><a href="#membership">Членство</a></li>
          <li><a href="#contact">Контакт</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  {% block content %} {% endblock %}
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top pt-0 pb-0">
    <div class="container">
      <div class="row justify-content-center pb-3">
          <div class="social-links mt-3">
                <a href=https://www.facebook.com/ProMova.tm"" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href=https://www.instagram.com/promova.tm"" class="instagram"><i class="bx bxl-instagram"></i></a>
              </div>
      </div>
      </div>
      <div class="copyright">
          <strong><span>Промова &copy;</span></strong> Всі права захищені
      </div>
      <div class="credits">
        Design <a href="https://dimitrizimin.space/">Dmytro Zimin</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'promova_main/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'promova_main/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'promova_main/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'promova_main/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'promova_main/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'promova_main/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'promova_main/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'promova_main/js/main.js' %}"></script>

</body>

</html>