{% extends "promova_main/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
 <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
      <h1>Вітаємо у "Промові"!</h1>
      <h2>Перший закордонний україномовний клуб Toastmasters</h2>
      <a href="#about" class="btn-get-started scrollto">Дізнатись більше</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg" data-aos="fade-right">
           <div class="section-title">
          <span>O нас</span>
          <h2>O нас</h2>
        </div>
        <div class="row justify-content-center pt-3">
          <div class="col-lg" data-aos="fade-right">
            <h3>Що таке Toastmasters?</h3>
            <p>
              Toastmasters International - це неприбуткова освітня організація,
              яка викладає навички публічного виступу та лідерства через всесвітню мережу клубів.
              Штаб-квартира організації в Енглвуді, штат Колорада, кількість членів організації перевищує 358 000 у
              понад 16 800 клубів у 143 країнах. Починаючи з 1924 року,
              Toastmasters International допомагає людям з різного походження ставати більш
              впевненими ораторами, комунікаторами та лідерами.</p>
            <p>
            <div class="row justify-content-center pt-3">
            <div class="col-lg-4 text-center">
            <h1>358,000</h1>
              <br>
              <p>учасників</p>
          </div>
              <div class="col-lg-4 text-center">
            <h1>143</h1>
                  <br>
              <p>країни</p>
          </div>
              <div class="col-lg-4 text-center">
            <h1>16,800+</h1>
                <br>
              <p>клубів</p>
          </div>
          </div>
            <hr>
             <h3>Промова</h3>
              Промова - це перший україномовний Toastmasters клуб
              відкритий за межами України, а саме у місті Вроцлав, Польща. Клуб існує починаючи від 2018 року і за чей
              час десятки людей пройшли через різні ступені навчання та здобули безцінний досвід.
          </div>
          </div>
          </div>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->
     <section id="membership" class="about">
      <div class="container">

        <div class="row justify-content-center">
          <div class="col-lg" data-aos="fade-left">
           <div class="section-title">
          <span>Членство</span>
          <h2>Членство</h2>
        </div>
        <div class="row justify-content-center pt-1">
          <div class="col-lg" data-aos="fade-left">
     <h3>Поконай свій бар'єр</h3>
            <p>Учасники сплачують міжнародні внески у розмірі 45 доларів США кожні півроку
               плюс членський внесок у розмірі 20 доларів якщо ви новий учасник.
               З Toastmasters навчання ніколи не припиняється. Приєднуйтесь до Toastmasters, і ви зможете:</p>

            <div class="row pt-2">
              <div class="col-lg-1 text-center pt-3">
              <img src="https://www.toastmasters.org/-/media/8942f9ffc9d041399646faea4947fda8.ashx?h=16&thn=1&w=16">
              </div>
              <div class="col-lg-2 text-center pt-3">
                 Удосконалити свої навички публічних виступів
              </div>
              <div class="col-lg-1 text-center pt-3">
              <img src="https://www.toastmasters.org/-/media/7bc1e1639360487b90e908cb4eab263d.ashx?h=16&thn=1&w=16">
              </div>
              <div class="col-lg-2 text-center pt-3">
                 Формувати навички лідерства
              </div>
              <div class="col-lg-1 text-center pt-3">
              <img src="https://www.toastmasters.org/-/media/3b94f6ee22254ed68f05e5ead33fbb5e.ashx?h=16&thn=1&w=16">
              </div>
              <div class="col-lg-2 text-center pt-3">
                 Збільшити свій потенціал
              </div>
              <div class="col-lg-1 text-center pt-3">
              <img src="https://www.toastmasters.org/-/media/3d9e876b9d1a4b6dbecd8a04993971ea.ashx?h=16&thn=1&w=16">
              </div>
              <div class="col-lg-2 text-center pt-3">
                 Насолоджуватись необмеженим особистісним зростанням
              </div>
              <div class="col-lg-1 text-center pt-3">
              <img src="https://www.toastmasters.org/-/media/cbee6cd541264903a7adc41705b4cf7f.ashx?h=16&thn=1&w=16">
              </div>
              <div class="col-lg-2 text-center pt-3">
                 Розширювати коло знайомих у сприятливому середовищі
              </div>
              <div class="col-lg-1 text-center pt-3">
              <img src="https://www.toastmasters.org/-/media/c9e8e563758c4ed490f507136edfba59.ashx?h=16&thn=1&w=16">
              </div>
              <div class="col-lg-2 text-center pt-3">
                 Тренуватися писати промови та представляти їх групі учасників
              </div>
              <div class="col-lg-1 text-center pt-3">
              <img src="https://www.toastmasters.org/-/media/7362c3958a404bdcbe77fe86513ce9b4.ashx?h=16&thn=1&w=16">
              </div>
              <div class="col-lg-2 text-center pt-3">
                 Отримати конкурентну перевагу на робочому місці
              </div>
              <div class="col-lg-1 text-center pt-3">
              <img src="https://www.toastmasters.org/-/media/a164bcf98a334189bff052c860b2cf56.ashx?h=16&thn=1&w=16">
              </div>
              <div class="col-lg-2 text-center pt-3">
                 Побудувати впевненість у собі та самосвідомість
              </div>
            </div>
            <hr>
            <h3>Як долучитись?</h3>
            <p>
              Отже, ви вирішили, що хочете практикувати публічні виступи, покращувати вміння спілкуватись
              та розвивати навички лідерства? Виконайте ці три простих кроки і ви на шляху до здійснення необмеженого
              особистого та професійного зростання!
            </p>
          </div>

          </div>
            <div class="row pt-2">
              <div class="col-lg-4 text-center"><h4>Крок 1</h4>
                <br>
                <img src="https://www.toastmasters.org/-/media/bf822527f1e24b349b3539c487d687f3.ashx?h=100&w=178"><br>
                <p class="pt-3">Наші двері завжди відкриті для будь-кого! Прийдіть на наше засідання,
                  або зв'яжіться з нами за допомогою <a href="#contact">контактної форми</a> внизу</p>
              </div>
              <div class="col-lg-4 text-center"><h4>Крок 2</h4><br>
                  <img src="https://www.toastmasters.org/-/media/140cfc621a38419e852465e4d43bfd46.ashx?h=102&w=178"><br>
                  <p class="pt-3">Заповніть заявку на членство</p>
              </div>
              <div class="col-lg-4 text-center"><h4>Крок 3</h4><br>
                <img src="https://www.toastmasters.org/-/media/d86c53110ebb4e26a66f36aa424e8c9b.ashx?h=101&w=178"><br>
                <p class="pt-3">Cплатіть міжнародний внесок у розмірі 199 злотих та членський внесок нового учасника у розмірі 100 злотих</p>
              </div>

          </div>
        </div>
      </div>
      </div>
     </section>
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <span>Контакт</span>
          <h2>Контакт</h2>
          <p>Як нас знайти?</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Наша адреса</h3>
              <p>ul. Ruska 46A/201, 50-079 Wrocław</p>
            </div>
          </div>

          <div class="col-lg-6 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Наша електронна пошта</h3>
              <a href="mailto:promova.club@gmail.com">promova.club@gmail.com</a>
            </div>
          </div>

        </div>

        <div class="row" data-aos="fade-up">

          <div class="col-lg-6 ">
            <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2504.898169184402!2d17.022262015710538!3d51.11033894747751!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470fc20b1d507f89%3A0xf6b4843e20feb754!2sCUKR%20-%20Centrum%20Ukrai%C5%84skie%20Kultury%20i%20Rozwoju!5e0!3m2!1sen!2spl!4v1591909991599!5m2!1sen!2spl" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
          </div>

          <div class="col-lg-6">
            <form method="POST">
              {% csrf_token %}
              <fieldset class="form-group">
              {{ form|crispy }}
                </fieldset>
              <p> * - Поле обов'язкове</p>
                <div class="text-center"><button class="btn btn-primary" type="submit">Відправити</button></div></div>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
{% endblock %}